#background{
	
   background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   background-image: url('indexImage.jpg');
  
}

  #ManButton {
            background: #ffff00 ;
            border-radius: 12px;
        }
        
 #login {
            background: green ;
            border-radius: 12px;
        }
        
 #background2{
  
     background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   background-image: url('https://www.pexels.com/photo/flight-landscape-nature-sky-36717/');
  
  }
        
 #indexdivider {
 position:relative;  top:100px;
 }
 
